#outputBatman, #outputFez, #outputDexter {
  display: none;
}


.header {
  border: 5px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin: 30px 0;
  text-align: center;
}

img {
  border: 5px solid #000;
}
.main-img {
  max-width: 100%;
}

.char {
  max-width: 50%;
}

.char-gallery {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

.row2 {
  margin-top: 30px;
}
